<h1><%= @page_title %></h1>

<%= form_for @entry do |form| %>
  <%= render "form",form: form %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<div class="toolbar">
  <%= link_to "戻る" , @entry %>
</div>
