<h1>ブログ一覧</h1>

<%if @entries.present?%>
  <% @entries.each do |entry| %>
  <h2><%= link_to entry.title %></h2>
  <p><%=truncate(entry.body,length: 80)%></p>
  <%=link_to 'もっと読む', entry %>
  <% end %>
  <%= link_to 'ブログの作成', :new_entry %>
<% else %>
  <p>記事がありません</p>
  <%= link_to 'ブログの作成', :new_entry %>

<% end %>
